.mini-showcase{
        min-height:500px;
        width: 100%; 
        background:linear-gradient(
            rgba(0,0,0,0.7), 
            rgba(0,0,0,0.7)
            ), 
            url(../img/gray-airliner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:#ffffff;   
}

.about-showcase{

    /* padding-top:20vh; */
    max-width:500px;
}

.about-showcase h2{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  
    /* font-size:22px; */
    /* font-weight: bold; */
    /* text-transform:capitalize; */

}

.about-details{
    background-color: #f9f9f9;
    color: rgb(15, 15, 15);
    padding-top:100px;
    padding-bottom:200px;
}

.about-details-text {
    padding:50px;
}

.about-details-text h3{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    /* font-size:14px; */
}

.about-details-text p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    font-size:18px;
}

.new-routes{
    padding-bottom:50px;
}

.custom-service{

    padding-bottom:50px;
}

.dashed-right{
    width: 0;
    height:156px;
    border:1px dashed  #AD9F30;
    float:right;
    margin-right:252px;
    
}

.custom-service{
    clear:right;
    padding-top:50px;
}

.dashed-left{
    width: 0;
    height:156px;
    border:1px dashed  #AD9F30;
    float:left;
    margin-left:252px;
    
}

.network{
    clear:left;
    padding-top:50px;
}


@media(max-width:990px){

    .dashed-right{
        width: 0;
        height:0;
        border:none;   
    }

    .dashed-left{
        width: 0;
        height:0;
        border:none;   
    }

    .about-showcase p{
        padding-bottom:260px;
    }
}

@media(max-width:450px){

    .about-showcase h2{
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size:25px;
    }

    .about-details-text p{
        
        font-size:16px;
    }

}
