body{
    padding:0;
    margin:0;
    background-color: #f9f9f9;;
}

.blog-page-fluid{
    background-color: #F9F9F9
}

.blog-page-container{
    padding-top:70px;
    padding-bottom:80px;
}

.latest-post-header{
    padding-bottom:10px;
}

.latest-post-header h5{
    border-left: 8px solid #AD9F30;
    padding-left:8px;
    color: #1A3CAC;
    /* font-size:17px; */
    font-weight:900;
    font-family:'Montserrat', sans-serif;
}

.top-posts-header h5{
    border-left: 8px solid #AD9F30;
    padding-left:8px;
    color: #1A3CAC;
    /* font-size:17px; */
    font-weight:900;
    font-family:'Montserrat', sans-serif;
}

.single-post{
    padding-bottom:25px;
}

.date{
    float:left;
    padding-top:27px;
    padding-right:15px;
}

.date p{
    line-height: 2rem
}

.day{
    font-size:70px;
    font-weight:bold;
    color: #AD9F30;
    font-family:'Montserrat', sans-serif;
}

.month{
    color: #AD9F30;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    margin-top:0;
}

.short-post{
    padding-top: 17px;
    
}

.short-post-title{
    font-family:'Raleway', sans-serif;
    color:#1A3CAC;
    font-weight:bolder;
    font-size:14px;
}

.short-post p{
    color: rgb(15, 15, 15);
    font-size:13px;
    font-family:'Montserrat', sans-serif;
}



.short-post p a{
    font-size:13px;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    color:#1A3CAC;
    font-weight:bolder;
}

.short-post .author-date{
    color:#AD9F30;
}

.short-post .author-date:hover{
   text-decoration:none;
}

.top-post-list p a.top-post-link{
    color: #000000;
    font-size: 13px;
    font-weight:bold;
    font-family:'Raleway', sans-serif;
}

.top-post-list p a{
    font-size: 13px;
    font-family:'Raleway', sans-serif;
    color: #AD9F30;
    text-decoration:none;
    font-weight:lighter;
}

.top-posts{
    padding-top:4px;
    padding-bottom:150px;
}

.archive-header {
    padding-bottom:12px;
}

.archive-header h5{
    border-left: 8px solid #AD9F30;
    padding-left:8px;
    color: #1A3CAC;
    font-size:17px;
    font-weight:900;
    font-family:'Montserrat', sans-serif;
}

.archive-list p{
    color: #1A3CAC;
    font-size:13px;
    font-family:'Montserrat', sans-serif;
}


/*Media Query*/

@media(max-width:456px){


    /*.date{
       padding-bottom:110px; 
    }*/

    .date{
        display:none; 
     }

    .day{
        font-size:50px;
    }
    
    .month{
        font-size:15px;
    }
    
    .short-post {
       padding-left:0px;
    }

}

@media(min-width:456px){

    .short-post .author-date{
        display:none;
    }
  

}

@media(max-width:990px){

    .single-post{
        padding-bottom:40px;
    }

    .short-post{
        float:none;
    }
    

}

@media(max-width:1500px){


    .container{
        overflow:hidden;
    }


}

