html, body{
    background-color: #f9f9f9;
}


/* .showcase{
    min-height:400px;
    width: 100%;
    background:linear-gradient(
        rgba(0,0,0,0.3), 
        rgba(0,0,0,0.3)
        ), 
        url(../img/gray-airliner.jpg)  no-repeat scroll center center;
    background-size: cover;
} */

/* Blog Title */
.blog-fluid, .blog-image-fluid{
    background:#F9F9F9;
}


.blog-title{
    padding-top:50px;
    padding-bottom: 50px;
    color:#000;
   
}

.blog-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    text-shadow: 0px 3px 6px #FFFFFF29;
}

.blog-title a{
    color: #1E2982;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight:bold;
}

.blog-title a:hover {
    
    text-decoration: none;
}


a.author{

    padding-right:13px;
    border-right: 1px solid #C3B9B9;;
}

a.month-day{
    padding-left:11px;
}

/* Main Blog */



.main-blog-fluid{
    background:#F9F9F9;
}

.main-blog{
    padding-top:50px;
    
}

.main-blog p{
    font-size:18px;
    color: rgb(15, 15, 15);
    opacity: 1;
    
}

.blog-paragraph1{
    padding-bottom:40px;
}

.blog-paragraph2{
    padding-top:50px;
    padding-bottom:70px;
}

hr.new1{
    border-top:2px solid #ABABAB;
    width:22%;
    float:left;
}

/* Card */

.card-fluid{
    background:#F9F9F9;
}

.card-container{
    padding-top:20px;
    clear:left;
    padding-bottom: 30px;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.card-body a{
    text-decoration: none;
    font-size:12px;
    color: #1A3CAC;
}


.dot{
    width:5px;
    height:5px;
    background-color: #1A3CAC;
    border-radius:50%;
    display:inline-block;
}


/* Comment Section */
.comment-fluid{
    background:#F9F9F9;
    padding-bottom:90px;
}

.comment{
    float:left;
   
}

.comment h5{
    color: rgb(15, 15, 15);
    font-family: 'Raleway', sans-serif; 
    font-weight:bold;
    padding-right:30px;
    padding-top:4px;
}

hr.new2{
    border-top:2px solid #ABABAB;
    width:15%;
    float:left;
}

.comment-text{
    clear:left;
}

.comment-text p{
    font-family: 'Raleway', sans-serif; 
    color:rgb(15, 15, 15);
    font-size: 18px;
    
}

.comment-form textarea{
    background-color: #D1D1D1;
    border: 1px solid #D1D1D1;
    height: 500px;
    margin-bottom:25px;
}

.comment-button{
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color:#ffffff;
    background-color:#AD9F30;
    padding:12px 22px 12px 22px;
    display:inline-block;
    border-radius:3px;   
}

/*Media Query*/

@media(max-width:711px){

    .card{
        padding-bottom:40px;
    }

}


@media(max-width:770px){

    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 50px; /* Added */
        
}

@media(max-width:450px){

    .main-blog p{
        font-size:16px;   
    }

    .comment-text p{
        font-size: 16px;   
    }

}
    

}



