body{
    padding:0;
    margin:0;
    background-color: #f9f9f9;;
}


/* Navigation Section */
nav{
    background-color: #FAFAFA;   
    box-shadow: 0px 3px 6px #00000029;   
}

.nav-list a{
    
    margin-left:50px;
    color:#84878B;
    text-decoration:none;
    font-size:18px;
    font-family:'Raleway', sans-serif;
}


.nav-list a:hover{
    color:#000000;
    font-size:18px;
    font-weight:bold;
}

.active{
    
    color:#000000;
    font-size:18px;
    font-weight:bold;
}


  

/*.custom-toggler.navbar-toggler {
    border-color: #AD9F30;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */


/* Showcase */

.showcase{
    height:100vh;
    width: 100%; 
    background:linear-gradient(
        rgba(0,0,0,0.3), 
        rgba(0,0,0,0.3)
        ), 
        url(../img/gray-airliner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;   
}



.contact-button{
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color:#ffffff;
    background-color:#AD9F30;
    padding:15px 25px 15px 25px;
    display:inline-block;
    border-radius:3px;
   
    
}

.contact-button:hover{
    text-decoration:none;
    color:#ffffff;
}


.showcase-container h1{
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight:bold;
    margin-bottom:25px;
    padding:20px;
    display:inline-block;
}


.corner-border, .bottom-corner {
    position: relative;
    /* margin-top: 30px;
    margin-bottom: 30px; */
  
  }


   /* vertical line */
.corner-border::after {
    content:'';
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 80%;
    top: 0;
    left:-10px;
   
  }
  
  /* horizontal line */
  .corner-border::before{
    content:'';
    position: absolute;
    background-color: #ffffff;
    width: 15%;
    height: 2px;
    top: 0;
    left:-8px;
   
  }
  
  
  

/* vertical line */
.bottom-corner::after {
    content:'';
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 65%;
    bottom: 30px;
    right:-10px;
    
  }

  

  /* horizontal line */
  .bottom-corner::before {
    content:'';
    position: absolute;
    background-color: #ffffff;
    width: 15%;
    height: 2px;
    bottom: 30px;
    right:-8px; 
      
  }
 

 

/* About section*/
.about{
    background-color: #f9f9f9;
    color: rgb(0, 0, 0);
    padding-top:100px;
    padding-bottom:200px;
    
}

.about-heading h2{
    padding-bottom:70px;
    /* font-size:23px; */
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}

.about-text{
    padding-top:55px;
}

.about-text p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    line-height: 1.7em;
    font-size:18px;
}

.bold{
    font-weight:bold;
}

.stacked-images{
    position: relative;
    left:0; 
    top:0;
    width:100%;
}

.worker{
    position: relative;
    top: 0;
    left: 0;
}

.plane{
    position: absolute;
    top: 150px;
    left: 90px; 
    
}

.about-button{
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color:#ffffff;
    background-color:#AD9F30;
    padding:15px 25px 15px 25px;
    display:inline-block;
    border-radius:3px;
    
}

.about-button:hover{
    text-decoration:none;
    color:#ffffff;
}



/* Our Services*/

.service-heading h2{
    padding-bottom:100px;
    /* font-size:23px; */
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    color:rgb(15, 15, 15);
}

.services{

    background:  url(../img/bg-service.png)  no-repeat scroll center center;
    background-size: cover;
   }

.services-container{
    padding-top:70px;
    padding-bottom: 200px;
}

.service-icon{
    text-align: center;
    width:100px;
}

.service-icon img{
    width:100px;
    padding-bottom:40px;
}

.service-icon p{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color: rgb(15, 15, 15);
}

#travel-icon{
    width:130px;
}

#time-icon{
    width:110px;
}

/* Office Section */

.office-heading h2{
    padding-bottom:100px;
    /* font-size:23px; */
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    color: rgb(15, 15, 15);
}

.office-text{
    padding-top:10px;
}

.office-text p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    line-height: 1.7em;
    font-size:18px;
}

#office-image{
    width: 3000px;
    padding-top:40px;
    padding-bottom:40px;
}

.whatsapp-icon {
    float:left;
}

.whatsapp-icon img{
    width:40px;
    margin-right:40px;
 
}


.whatsapp{
    background-color:#FFFFFF;
    display:inline-block;
    padding:15px;
    padding-left:55px;
    padding-right:55px;
    border-radius:80px;
    box-shadow: 0px 0px 17px #00000029;
    float:right;
    
    
}

.whatsapp-text{
    float:right;
    color: #000000;
    font-family:'Raleway', sans-serif;
    padding-top:5px;
    font-weight:bold;
    
}

.parent {
    position: relative;
  }
  
  .element {
    padding: 20px;
    position: fixed;
    bottom: 0;
    right:70px;
    left:0;
    opacity: 0.8;
    z-index:999;
   
  }




/* Footer */
footer{

    background: transparent linear-gradient(180deg, #1A3CAC 0%, #0D1E56 100%) 0% 0% no-repeat padding-box;
    color:#ffffff;
    padding-top:30px;
    padding-bottom:30px;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

#newsletter{
    padding-left:0;
    margin-left:0;
    z-index:-2;
}

#newsletter input[type="email"]{
    height:33px;
    width:200px;
    border:none;
}

#newsletter p{
    padding-left:0;
}

.sub-button{
    padding:7px;
    width:50px;
    color:#ffffff;
    background-color: #0A1B4C;
    border:none;
    margin-left:5px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight:bold;    
}

.footer-container{
    z-index:99;
}

/*Media Queries*/

@media(max-width:990px){

    .stacked-images{
        padding-bottom:140px;
    }
    

}

@media(max-width:1200px){

    
}


@media(max-width:735px){

    .stacked-images{
        max-width:80%;
        padding-bottom:100px;
    }

    
    .plane{
        position: absolute;
        top: 110px;
        left: 90px; 
        
    }

    .element {
        
        right:25px;
        
      }
    

}


@media(max-width:450px){

    .stacked-images{
        max-width:75%;
        padding-bottom:100px;
    }

    
    .plane{
        position: absolute;
        top: 70px;
        left: 66px; 
        
    }

    .service-icon{
        padding-bottom:30px;
    }

    .element {
      
        right:13px;

      }

    footer{
        padding-bottom:120px;
    }

    .about-text p{
        font-size:16px;
    }

    .service-icon p{
        font-size:16px;
    }

    .office-text p{
       
        font-size:16px;
    }
     

}


@media(max-width:420px){

    .whatsapp{
        padding-left: 38px;
        padding-right:38px; 
    }
    
    .element {
        right:8px;
    }

    .whatsapp-icon img{
        margin-right:12px;    
    }

}

@media(max-width:360px){

    .whatsapp-icon img{
        width:40px;
        margin-right:20px;    
    }
    
    .whatsapp-text{ 
        padding-top:7px;
       
    } 

}

@media(max-width:320px){
    
    .whatsapp-text{ 
        display:none;
       
    } 

    .whatsapp{
        background-color: transparent;
        box-shadow: none;
        padding-right:2px;
    }

    .element{
        padding-right:5px;
        left:50%;
    }

    

}

