/************************* NAVIGATION ***************************************8*/


/*.navigation{
    width: 100%;
    height: 80px; 
    background-color: #FAFAFA;
    box-shadow: 5px 5px  #00000029;
}
.navbar{
    width: 95%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.navbar ul li a{
    color: #707070;
}
*/



    


/************************* GENERAL ***************************************8*/
.flexBox{
    display: flex;
    justify-content: space-between;;
}




/************************* MAAIN BODY ***************************************8*/
/* .main-body{
    font-family: 'Raleway', sans-serif; 
    background-image: url("../images/component.png");
    background-size: cover;
    background-position: center;
    width: 1207px;
    height: 917px;
      
} */
.main-body{
    /* background: url("../images/component.png") no-repeat;
    background-size: contain; */
    background-position-x: 25vw;
    background:  url(../img/bg-service.png)  no-repeat scroll center center;
    background-size: cover;

}
.main-body-content{
    /* width: 70%; */
    /* margin: 0 auto; */
    /* margin-top: 50px; */
    justify-content: space-between;
    display: flex;
  }

.text-section{
    margin-top: 150px;
    text-align: center;
    color:rgb(15, 15, 15);
    font-size: 1.5rem;
    font-weight: 600;
}

/****************************FORM ***************************************8*/
 /* .form-section{
     
 } */
 .form-section form{
     background-color:none;
 }

 .form-section input[type=text]{
     /* width: 350px; */
     /* height: 30px; */
     background-color: #F0EDED;
     border: none;
 }
 .form-section .btn-block{
     /* width: 350px; */
     /* height: 40px; */
     background-color: #AD9F30;
     border: none;
     color: white;
 }

 .form-section textarea{
     /* width: 350px; */
     background-color:#F0EDED;
     border: none;
 }

 .form-section label{
     color:rgb(15, 15, 15);
 }

 .form-section .form-text{
     color:#1A3CAC;
     font-weight: 700;
 }

 .termsOfAgreementMobile{
     display: none;
 }

 /* .termsOfAgreement{
    color: #959595;
    font-size: 15px;
    font-weight: 300;
    text-align: center;

 }

 

 .termsOfAgreementContainer{
    display: flex;
    align-items: center;
    background-color: white;
 } */

 /****************************FOOTER ***************************************8*/
 
 /* footer{
    background-image: linear-gradient(#1A3CAC, #0D1E56);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
 }

 .footer-content input[type="submit"]{
     background-color: #0C1D53;
     border: none;
     color: #FFFFFF;
     
 }
.footer-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.zrh{
    text-align: center;
}
.footer-content p{
    font-weight: 100;
}
.footer-content .footer-heading{
    font-weight: 700;
}

 */

/***************************** MEDIA QUERIES *******************************/

@media(max-width: 414px){
      .text-section{
        display: none;
    }

    
    .main-body{
        background-position-x: 0vw !important;  
        background-position-y: -7vw !important;
        background-size: 415px 840px;
    }

    .termsOfAgreementMobile{
        display: block;
       
    }
    .termsOfAgreementDesktop{
        display: none;
    }

    
    .form-section form{
        width: 79%;
        margin: 0 auto;
    }

    /* .main-body .mt-3{
        margin-top: 0rem!important;
    } */

    .form-text{
        width: 79%;
        margin: 0 auto;
    }
    

}

    


@media(max-width: 1024px){
    .text-section{
        display: none;
    }
    
    .main-body{
        background-position-x: 7vw;
        /* background-size: 390px 1024px; */
        background-position-y: 0vw;
    }

    
}